#Dinocryption {
    Color:rgb(255, 32, 210);
    text-align: center;
   font-weight: bold;
}

.BackgroundImg {
    background-image: url("https://gifdb.com/images/high/matrix-code-purple-hacking-glitch-7bx7559lth2twmnk.gif");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

div input {
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: "IM Fell French Canon SC", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    background-color: black;
}

div input::placeholder {
    color: rgb(255, 251, 251);
    opacity: 0.79;
    font-family: "IM Fell French Canon SC", serif;
    font-weight: 400;
    font-size:30px;
    font-style: normal;
    font-weight: bold;
}


.ballet-uniquifier {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 300px;
  font-style: normal;
  text-shadow: rgb(255, 255, 255) 3px 3px 9px;
  margin: 0;
}

/* div cursor { */
    /* transition: all; */
    /* cursor:pointer;
} */

 .Buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 7vh;
    
}

.Buttons input {
    height: 100%;
    font-size: 40px;
}

.Buttons button {
    height: 100%;
}

#number {
    width: 80px;
}

#result {
    display: flex;
    justify-content: center;
    text-align:center;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    
}

#result p {
    background-color: rgb(255, 32, 210);
    width: 50%;
    border-radius: 20px;
    border: 5px solid blueviolet;
}
.homebuttons {
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    font-style: normal;
}

div a {
    font-family: "IM Fell French Canon SC", serif;
    text-decoration: none;
    font-size: 50px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    border-color:rgb(188, 18, 154);
    border-width: 5px;
    border-style: solid;
    font-weight:bold;
    color:rgb(255, 32, 210);
}

.home-container {
    margin-top: 20px;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 40px;
}
.Homepage {
    width: 150px;

}
