#Dinocryption {
    Color:rgb(253, 92, 162);
    text-align: center;
   font-weight: bold;
}
/* image is way 2 big dont think its possible*/
.BackgroundImg {
    background-image: url("https://img.itch.zone/aW1hZ2UvMTY1MjM4MC85NzIxODE5LmdpZg==/x200/5JFJs6.gif"); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

}

 /* body {
    background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExeHE5bGhiNGxqMmR3emg2cmR4ajk2ZW10bWo5bGluZ2xjemNxZ3NyZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/5kFbMBOEdWjg1nItoG/giphy.gif);
 } */

div input {
    color:blueviolet;
    text-align: center;
}

div input::placeholder {
    color: purple;
    opacity: 0.5;
}


.ballet-uniquifier {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 320px;
  font-style: normal;
  text-shadow: rgb(11, 255, 113) 1px 1px 5px;
}

/* div cursor { */
    /* transition: all; */
    /* cursor:pointer;
} */

 .Buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 7vh;
}

.Buttons input {
    height: 100%;
    font-size: 20px;
}

.Buttons button {
    height: 100%;
}

#number {
    width: 80px;
}