#Dinocryption {
    Color:rgb(255, 32, 210);
    text-align: center;
   font-weight: bold;
}

.BackgroundImg {
    background-image: url("https://gifdb.com/images/high/matrix-code-purple-hacking-glitch-7bx7559lth2twmnk.gif");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

div input {
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: "IM Fell French Canon SC", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    background-color: black;
    /* position: fixed;
    left: 0;
    width: 93vw;
    max-height: 10%;
    bottom: 25vh; */
    /* justify-content:center; */
    /* I want to put the box of encryption in the middle of the page and not all the way to the end */
}

div input::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.5;
    font-family: "IM Fell French Canon SC", serif;
    font-weight: 400;
    font-size:30px;
    font-style: normal;
    font-weight: bold;
}


.ballet-uniquifier {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 300px;
  font-style: normal;
  text-shadow: rgb(255, 255, 255) 3px 3px 9px;
  margin: 0;
}

/* div cursor { */
    /* transition: all; */
    /* cursor:pointer;
} */

 .Buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 7vh;
    
}

.Buttons input {
    height: 100%;
    font-size: 40px;
}

.Buttons button {
    height: 100%;
}

#number {
    width: 80px;
}
/* 
.donnell{
    position:relative;
    top: 25vh;
    width:100vw;
    height: 40vh;
}
#encryptionButton{
z-index: 10;
}

#encryptButton{
    position: fixed;

} */
 